<nav class="navigation navigation--primary" aria-label="primary-navigation">
  <ul class="unstyled-list">

    {{ $currentPage := . }}

    {{ range .Site.Menus.main }}

      {{ if .URL }}
        <li>
          <a
            class="no-underline"
            {{ if $currentPage.IsMenuCurrent "main" . }}
              aria-current="page"
            {{ end }}
              href="{{ .URL }}"
          >
            {{ .Name }}
          </a>
        </li>
      {{ end }}

    {{ end }}

  </ul>
</nav>
