<nav class="primary-navigation">
  <ul>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}

      {{ if .URL }}
        <li>
          <a
          {{ if $currentPage.IsMenuCurrent "main" . }}
            class="active"
          {{ end }}
          {{ if .URL }}
            href="{{ .URL }}"
          {{ end }}
          >
            {{ .Name }}
          </a>
        </li>
      {{ else }}
        <li>
          <a
            class="disabled"
            aria-hidden="true"
            >
              {{ .Name }}
            </a>
        </li>
      {{ end }}
      
    {{ end }}
  </ul>
</nav>