<article class="article-card">
  <a class="no-underline" href="{{ .Permalink }}">

    <div>

      {{ if (.GetTerms "tags") }}
      <span class="tag">
      {{ $tags := (.GetTerms "tags") }}
      {{ $len := (len $tags) }}
      {{ range $index, $element := $tags }}
        {{ if eq (add $index 1) $len }}
          {{ .LinkTitle }}
        {{ else }}
          {{ .LinkTitle }},
        {{ end }}
      {{ end }}
    </span>
    {{ end }}

      <span class="h3 red">
        {{ .Title }}
      </span>

    </div>

  </a>
</article>
