<article class="article-card">
  <a class="no-underline grid gap grid--article-card" href="{{ .Permalink }}">

    {{ if .Params.thumbnail }}
      <img class="lazy" data-src="{{ .Params.asidePhoto }}" alt="{{ .Params.asideAltText }}" />
    {{ end }}

    <div>

      {{ if (.GetTerms "tags") }}
        <ul class="unstyled-list">

          {{ range (.GetTerms "tags") }}
            <li>
              <span class="tag">{{ .LinkTitle }}</span>
            </li>
          {{ end }}

        </ul>
      {{ end }}

      <header>
        <h3 class="red">
          {{ .Title }}
        </h3>
      </header>

    </div>

  </a>
</article>
