<article class="list__article list__article--featured">
  <a class="no-underline article-link" href="{{ .Permalink }}">

    {{ if .Params.thumbnail }}
      <img class="lazy" data-src="{{ .Params.thumbnail }}" alt="Test" />
    {{ end }}

    {{ if (.GetTerms "tags") }}
      <ul class="unstyled-list">

        {{ range (.GetTerms "tags") }}
          <li>
            <span class="tag">{{ .LinkTitle }}</span>
          </li>
        {{ end }}

      </ul>
    {{ end }}

    <header>
      <h2 class="red">
        {{ .Title }}
      </h2>
    </header>

    {{ if .Params.description }}
      <p>{{ .Params.description }}</p>
    {{ end }}

  </a>
</article>
