<article class="list__article list__article--featured">
  <a class="no-underline article-link" href="{{ .Permalink }}">

    {{ if .Params.thumbnail }}
      {{ $image := "" }}
      {{ if hasPrefix .Params.thumbnail "/"}}
        {{ $image = resources.Get (.Params.thumbnail) }}
      {{ else }}
        {{ $image = .Resources.Get (.Params.thumbnail) }}
      {{ end }}
      {{ with $image }}
        {{ $image := $image.Resize "700x" }}
        <img class="lazy" data-src="{{ $image.RelPermalink }}" alt="" />
      {{ end }}
    {{ end }}

    {{ if (.GetTerms "tags") }}
      <span class="tag">
      {{ $tags := (.GetTerms "tags") }}
      {{ $len := (len $tags) }}
      {{ range $index, $element := $tags }}
        {{ if eq (add $index 1) $len }}
          {{ .LinkTitle }}
        {{ else }}
          {{ .LinkTitle }},
        {{ end }}
      {{ end }}
    </span>
    {{ end }}

    <h2 class="red">
      {{ .Title }}
    </h2>

    {{ if .Params.description }}
      <p>{{ .Params.description }}</p>
    {{ end }}

  </a>
</article>
