<article class="list__article list__article--summary">
  <a class="no-underline article-link" href="{{ .Permalink }}">

    {{ if .Params.thumbnail }}
      <img class="lazy" data-src="{{ .Params.thumbnail }}" alt="" />
    {{ end }}

    {{ if (.GetTerms "tags") }}
      <span class="tag">
      {{ $tags := (.GetTerms "tags") }}
      {{ $len := (len $tags) }}
      {{ range $index, $element := $tags }}
        {{ if eq (add $index 1) $len }}
          {{ .LinkTitle }}
        {{ else }}
          {{ .LinkTitle }},
        {{ end }}
      {{ end }}
    </span>
    {{ end }}

    <h2 class="h3 red">
      {{ .Title }}
    </h2>

    {{ if .Params.description }}
      <p>{{ .Params.description }}</p>
    {{ end }}

  </a>
</article>
