<article class="list__article" itemscope itemtype="https://schema.org/NewsArticle">

  <meta itemprop="wordCount" content="{{ .WordCount }}" />
  <meta itemprop="image" content="{{ .Params.thumbnail }}" />
  <meta itemprop="author" content="{{ .Params.author }}" />
  <meta itemprop="datePublished" content="{{ .PublishDate }}" />
  <meta itemprop="dateModified" content="{{ .Params.lastmod }}" />

  <header>
    <h2 class="h3" itemprop="headline">
      <a href="{{ .Permalink }}">
        {{ .Title }}
      </a>
    </h2>

    {{ if isset .Params "PublishDate" }}
      <time datetime="{{ .PublishDate.Format "2006-01-02" }}">
        {{ .PublishDate.Format "2006-01-02 400 EDT" }}
      </time>
    {{ end }}

  </header>

  {{ if isset .Params "description" }}
    <p>{{ .Params.description }}</p>
  {{ end }}

  {{ partial "seo/publisher-hidden.html" . }}

</article>
