<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "mainEntityOfPage": {{ .Permalink }},
    "name": {{ .Params.name }},
    "additionalName": {{ .Params.additionalName }},
    "jobTitle": {{ .Params.title }},
    "description": {{ .Params.bio }},
    "award": {{ .Params.award }},
    "worksFor": [
      {
        "@type": "Organization",
        "name": "AAN News",
        "logo": [
          {
            "@type": "ImageObject",
            "url": {{ .Site.Params.logo }},
            "width": "386",
            "height": "104"
          }
        ]
      }
    ]
  }
</script>
