<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "NewsArticle",
    "url": {{ .Permalink }},
    "publisher": [
      {
        "@type": "Organization",
        "name": "AAN News",
        "logo": [
          {
            "@type": "ImageObject",
            "url": {{ .Site.Params.logo }},
            "width": "386",
            "height": "104"
          }
        ]
      }
    ],
    "headline": {{ .Title }},
    "mainEntityOfPage": {{ .Permalink }},
    "articleBody": {{ htmlUnescape .Plain | plainify }},
    "image": {{ .Params.thumbnail }},
    "description": {{ .Params.description }},
    "wordCount": {{ .WordCount }},
    "datePublished": {{ .PublishDate }},
    "dateModified": {{ .Params.lastmod }},
    "author": [
      {
        "@type": "Person",
        "name": {{ .Params.author }}
      }
    ]
  }
</script>
