{{ define "main" }}
  <section class="list gray-background">
    <div class="container container--wide container--white">

      <header class="visually-hide">
        <h1>{{ .Title | singularize }}</h1>
      </header>

      <div class="grid grid--four-column list__grid">

        {{ $paginator := .Paginate (where .Pages ".Params.type" "!=" "page") }}

        {{ range $index, $page := $paginator.Pages }}

          {{ .Render "summary" }}

        {{ end }}

      </div>

      {{ if gt $paginator.TotalPages 1 }}

        <div class="pagination pagination--numbers">
          <ul class="pagination__numbers">
            {{ range $paginator.Pagers }}
              <li>
                <a class="pagination__number{{ if eq . $paginator }} pagination__number--current{{ end }}" href="{{ .URL }}">
                  {{ .PageNumber }}
                </a>
              </li>
            {{ end }}
          </ul>
        </div>

      {{ end }}

    </div>
  </section>

{{ end }}
