{{ define "main" -}}

<div class="post gray-background">
  <div class="container container--wide container--white">
    <div class="post__container grid page-spacing">

      <aside class="post__aside">

        {{ if .Params.asidePhoto }}
          {{ $image := "" }}
          {{ if hasPrefix .Params.asidePhoto "/"}}
            <!-- Ugly, but works for now -->
            {{ if hasPrefix .Params.asidePhoto "/articles" }}
              {{ $imageName := path.Base (.Params.asidePhoto) }}
              {{ range .Site.Pages }}
                {{ with .Page.Resources.Get $imageName }}
                  {{ $image = . }}
                {{ end }}
              {{ end }}
            {{ else }}
              {{ $image = resources.Get (.Params.asidePhoto) }}
            {{ end }}
          {{ else }}
            {{ $image = .Resources.Get (.Params.asidePhoto) }}
          {{ end }}
          {{ $imageText := .Params.asideText }}
          {{ with $image }}
            {{ $image := $image.Resize "250x" }}
            <figure>
              <img class="lazy" data-src="{{ $image.RelPermalink }}" alt="{{ $imageText }}" />

              {{ if $imageText }}
                <figcaption>
                  <p>{{ $imageText }}</p>
                </figcaption>
              {{ end }}

            </figure>
          {{ end }}
        {{ end }}

      </aside>

      <article class="content">

        <div class="post__header padding">

          {{ if .Params.title }}
            <h1>{{ .Title }}</h1>
          {{ end }}

          {{ if .Params.author }}
            <span class="post__author h4">
              by <a class="red" href="{{ .Params.profileURL }}">{{ .Params.author }}</a>
            </span>
          {{ end }}

          <time class="h4" datetime="{{ .PublishDate.Format "2006-01-02" }}">
            {{ .PublishDate.Format "01/02/2006 15:04 UTC" }}
          </time>

        </div>

        {{ if .Params.description }}
          <p class="post__description h4 padding">{{ .Params.description }}</p>
        {{ end }}

        {{ .Content }}

        {{ range .Params.profiles }}

          {{ with $.Site.GetPage "taxonomyTerm" (printf "profiles/%s" (urlize .)) }}

            {{ $classes := "" }}

            {{ if .Params.photo }}
              {{ $classes = "post__footer grid" }}
            {{ else }}
              {{ $classes = "post__footer" }}
            {{ end }}

            <footer class="{{ $classes }}">

              {{ if .Params.photo }}
                {{ $image := "" }}
                {{ if hasPrefix .Params.photo "/" }}
                  {{ $image = resources.Get (.Params.photo) }}
                {{ else }}
                  {{ $image = .Resources.Get (.Params.photo) }}
                {{ end }}
                {{ with $image }}
                  {{ $image := $image.Resize "100x" }}
                  <img class="lazy" data-src="{{ $image.RelPermalink }}" alt="" />
                {{ end }}
              {{ end }}

              <p>{{ .Params.bio }}</p>

            </footer>
          {{ end }}

        {{ end }}

      </article>

      {{ $related := .Site.RegularPages.Related . | first 3 }}

      {{ with $related }}

        <div class="post__related">

          <h2>Related Posts</h2>

          <ul class="unstyled-list grid gap">
            {{ range . }}
              <li>
                {{ .Render "card" }}
              </li>
            {{ end }}
          </ul>

        </div>

      {{ end }}

    </div>
  </div>
</div>

{{ partial "seo/single-schema.html" . }}

{{- end }}
