{{ define "main" }}

<article class="gray-background">
  <div class="container container--wide container--white">
    <div class="container container--small page-spacing">

      {{ if or .Params.name .Params.title }}
        <header class="profile__header">

          {{ if .Params.name }}
            <h1>
              {{ .Params.name }}
            </h1>
          {{ end }}

          {{ if .Params.title }}
            <span class="h4">
              {{ .Params.title }}
            </span>
          {{ end }}

        </header>
      {{ end }}

      {{ if .Params.bio }}
        <p>{{ .Params.bio }}</p>
      {{ end }}

      <hr />

      <section>

        {{ if .Params.name }}
          <header>
            <h2>Articles by {{ .Params.name }}</h2>
          </header>
        {{ end }}

        <ul class="unstyled-list grid gap">

          {{ range .Data.Pages }}
            <li>
              {{ .Render "card" }}
            </li>
          {{ end }}

        </ul>

      </section>

    </div>
  </div>
</article>

{{ partial "seo/person-schema.html" . }}

{{ end }}
