.site-header {
  color: var(--white);
  background-color: var(--red);

  &__skip-to-content {
    position: fixed;
    top: -2.5em;
    left: 50%;
    transform: translateX(-50%);
    transition: top 300ms ease-in-out;
  
    &:focus {
      top: 0;
    }
  }

  &__grid {
    padding: 20px 0;
  }

  &__site-logo {
    height: 52px;
    margin-left: 10px;
    justify-self: start;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__user-links {
    padding-right: 34px;
    text-align: right;

    li {
      display: inline-block;

      &:not(:last-of-type) {
        margin-right: 20px;
      }
    }

    a {
      color: var(--white);
    }
  }
}