.primary-navigation,
.tag-navigation {
  padding: 8px 10px;
}

.primary-navigation {
  background-color: var(--mediumRed);

  li {
    display: inline-block;

    &:not(:last-of-type) {
      margin-right: 30px;
    }
  }

  a {
    color: var(--white);
    text-transform: lowercase;
  }
}

.tag-navigation {
  background-color: var(--mediumGray);
}