.navigation {
  padding: 8px 10px;

  &--primary {
    background-color: var(--mediumRed);

    a {
      color: var(--white);
      text-transform: lowercase;
    }
  }

  &--tag {
    background-color: var(--mediumGray);
  }
}