.post {
  .container {
    background-color: var(--white);
  }

  &__container {
    max-width: var(--postContainer);
    margin: auto;
  }

  &__header {
    padding-top: 18px;

    h1 {
      margin: 0;
    }
  }

  &__author,
  &__description {
    font-weight: 400;
  }

  &__author,
  &__description,
  &__date {
    font-size: 1.25rem;
  }

  &__author {
    margin-right: 15px;
  }

  &__description {
    line-height: 1.5;
  }

  &__footer {
    padding: 34px 0;
    color: var(--darkGray);
    border-top: 1px solid var(--border);
    grid-template-columns: 100px auto;
    grid-gap: 20px;

    p {
      font-size: 1rem;
      margin-top: 0;
    }
  }
}