.post {
  .container {
    background-color: var(--white);
  }

  &__container {
    max-width: var(--postContainer);
    margin: auto;
  }

  &__header {
    padding-top: 18px;

    h1 {
      margin: 0;
    }
  }

  &__author,
  &__description {
    font-weight: 400;
  }

  &__author,
  &__description,
  &__date {
    font-size: 1.25rem;
  }

  &__author {
    margin-right: 15px;
  }

  &__description {
    line-height: 1.5;
  }
}