.button {
  width: 175px;
  padding: 14px 20px;
  color: var(--white);
  background-color: var(--button-color, var(--red));
  border: 0;
  cursor: pointer;
  appearance: none;
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out;

  &--medium-color {
    --button-color: var(--medium-red);
  }

  &:disabled {
    color: var(--black);
    background-color: var(--medium-gray);
    cursor: default;
  }

  &:active {
    background-color: var(--dark-gray);
  }

  @include hover {
    &:not(:disabled) {
      background-color: var(--dark-red);
    }
  }
}
