.form {
  gap: 20px;
  max-width: 80ch;
  margin: 20px auto auto;

  input,
  textarea,
  select {
    width: 100%;
    height: max-content;
    padding: 20px 25px;
    color: var(--dark-gray);
    background-color: transparent;
    font-size: inherit;
    font-family: inherit;
    font-weight: 300;
    border: 1px solid var(--border);
    border-radius: 0;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;

    &::placeholder {
      color: var(--dark-gray);
      opacity: 1;
    }
  }

  input,
  textarea,
  select,
  button {
    font-size: 1rem;
  }

  select {
    padding: 20px;
  }

  label {
    display: block;
  }

  &__field {
    row-gap: 10px;
  }

  &__photo {
    position: relative;
    cursor: pointer;

    span {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 10;
      padding: 20px 25px;
      color: var(--dark-gray);
      background-color: var(--white);
      border: 1px solid var(--border);
      font-size: 1rem;
      font-weight: 300;

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: auto;
        z-index: 6;
        height: 100%;
        padding: 20px;
        color: var(--white);
        background-color: var(--red);
        font-weight: 400;
        transition: background-color 300ms ease-in-out;
        content: "Browse";
      }

      &:active {
        &::before {
          background-color: var(--dark-gray);
        }
      }

      @include hover {
        &::before {
          background-color: var(--dark-red);
        }
      }
    }
  }

  &__span-across {
    @include screen-above($tablet) {
      grid-column: span 2;
    }
  }

  &__select {
    position: relative;

    i {
      position: absolute;
      top: 26px;
      right: 25px;
      padding: 3px;
      border: solid var(--red);
      border-width: 0 3px 3px 0;
      pointer-events: none;
      transform: rotate(45deg);
    }
  }

  @include screen-below($tablet) {
    grid-template-columns: 1fr;
    max-width: unset;
  }
}
