.form {
  grid-gap: 20px;
  max-width: 80ch;
  margin: 20px auto auto;

  input,
  textarea {
    width: 100%;
    padding: 20px 25px;
    background-color: transparent;
    border: 1px solid var(--border);
    border-radius: 0;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
  }

  input,
  textarea,
  button {
    font-size: 1rem;
  }

  textarea {
    font-family: inherit;
  }

  label {
    display: block;
  }

  &__photo {
    position: relative;
    cursor: pointer;

    span {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 10;
      padding: 20px 25px;
      color: #777777;
      background-color: var(--white);
      border: 1px solid var(--border);
      font-size: 1rem;
      font-weight: 300;

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: auto;
        z-index: 6;
        height: 100%;
        padding: 20px;
        color: var(--white);
        background-color: var(--red);
        font-weight: 400;
        transition: background-color 300ms ease-in-out;
        content: "Browse";
      }

      &:hover {
        &::before {
          background-color: var(--dark-red);
        }
      }
    }
  }

  &__photo,
  &__message {
    @include screen-above($tablet) {
      grid-column: span 2;
    }
  }

  @include screen-below($tablet) {
    grid-template-columns: 1fr;
    max-width: unset;
  }
}
