.grid {
  display: grid;

  &--article-card {
    grid-template-columns: 232px 1fr;
    align-items: center;

    @include screen-below($mobile-sm) {
      grid-template-columns: 116px 1fr;
    }

    @include screen-below($mobile-real-sm) {
      grid-template-columns: 1fr;
    }
  }

  &--two-column {
    grid-template-columns: repeat(2, 1fr);
  }

  &--four-column {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: dense;

    @include screen-below($laptop) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include screen-below($mobile) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include screen-below($mobile-sm) {
      grid-template-columns: 1fr;
    }
  }
}

.gap {
  grid-gap: 20px;
}
