.site-header {
  &__top {
    color: var(--white);
    background-color: var(--red);
  }

  &__skip-to-content {
    position: fixed;
    top: -2.5em;
    left: 50%;
    padding: 10px;
    color: var(--white);
    background-color: var(--dark-red);
    transform: translateX(-50%);
    transition: top 300ms ease-in-out;

    &:focus {
      top: 0;
    }
  }

  &__grid {
    padding: 20px 0;
  }

  &__site-logo {
    height: 52px;
    margin-left: 10px;
    justify-self: start;

    svg {
      height: 52px;
    }
  }

  &__user-links {
    text-align: right;

    a {
      padding: 10px;
      color: var(--white);
    }
  }
}
