.navigation {
  &--primary {
    background-color: var(--medium-red);

    ul {
      display: flex;
      flex-wrap: wrap;

      @include screen-below($mobile) {
        justify-content: space-between;
      }
    }

    a {
      display: block;
      padding: 16px 24px;
      color: var(--white);
    }
  }
}
