.post {
  p {
    @include screen-above($laptop) {
      padding-left: 14px;
      padding-right: 14px;
    }
  }

  &__container {
    @include screen-above($laptop) {
      grid-template-columns: 242px 760px;
      grid-gap: 12px;
    }

    @include screen-between($tablet, $laptop) {
      grid-template-columns: 182px 570px;
      grid-gap: 9px;
    }

    @include screen-below($tablet) {
      max-width: var(--post-container);
      margin: auto;
    }
  }

  &__aside {
    margin-left: 10px;
    align-self: center;

    @include screen-between($tablet, $laptop) {
      margin-left: 8px;
    }

    @include screen-below($tablet) {
      display: none;
    }
  }

  &__author {
    margin-right: 15px;

    @include screen-below($mobile) {
      display: block;
      margin-bottom: 10px;
    }
  }

  &__description {
    line-height: 1.5;
  }

  &__footer {
    padding: 34px 0;
    color: var(--dark-gray);
    border-top: 1px solid var(--border);
    grid-template-columns: 100px auto;
    grid-gap: 20px;

    p {
      font-size: 1rem;
      padding: 0;
      margin: 0;
    }
  }

  &__related {
    grid-column: 2 / -1;
    padding: 10px 0 34px;
    border-top: 1px solid var(--border);
  }
}
