{{ define "main" }}

  <section class="list gray-background">
    <div class="container container--wide container--white">

      <header class="visually-hide">
        <h1>Recent Articles</h1>
      </header>

      <div class="grid grid--four-column list__grid">

        {{ range .Site.RegularPages }}

          {{ if eq .Params.featured true }}

            {{ .Render "featured" }}

          {{ else }}

            {{ .Render "summary" }}

          {{ end }}

        {{ end }}

      </div>

    </div>
  </section>

  {{ partial "seo/list-schema.html" . }}

{{ end }}
