{{ define "main" }}
  <section class="list gray-background">
    <div class="container container--wide container--white">

      <header class="visually-hide">
        <h1>Recent Articles</h1>
      </header>

      <div class="grid grid__four-column list__grid">
      
        {{ $paginator := .Paginate (where .Pages ".Params.type" "!=" "page") }}

        {{ range $index, $page := $paginator.Pages }}

          {{ if eq .Params.featured true }}

            <article class="list__article list__article--featured" itemscope itemtype="https://schema.org/NewsArticle">

              <meta itemprop="wordCount" content="{{ .WordCount }}" />
              <meta itemprop="image" content="{{ .Params.thumbnail }}" />
              <meta itemprop="author" content="{{ .Params.author }}" />
              <meta itemprop="datePublished" content="{{ .PublishDate }}" />

              <img src="{{ .Params.thumbnail }}" alt="Test" />
              <header>
                <h2 class="h3" itemprop="headline">
                  <a href="{{ .Permalink }}">
                    {{ .Title }}
                  </a>
                </h2>
                <time datetime="{{ .PublishDate.Format "2006-01-02" }}">
                  {{ .Params.fictionalDate }}
                </time>
              </header>
              <p>{{ .Params.description }}</p>

              {{ partial "seo/publisher-hidden" . }}

            </article>

          {{ else }}
          
            {{ partial "articles/article-footer-hidden.html" . }}

          {{ end }}

        {{ end }}

      </div>

      {{ if gt $paginator.TotalPages 1 }}

        <ul class="pagination">
          {{ range $paginator.Pagers }}
          <li>
            <a class="pagination__number{{ if eq . $paginator }} pagination__number--current{{ end }}" href="{{ .URL }}">
              {{ .PageNumber }}
            </a>
          </li>
          {{ end }}
        </ul>

      {{ end }}
      
    </div>
  </section>
  
{{ end }}