{{ define "main" }}
  <section class="list gray-background">
    <div class="container container--wide container--white">

      <header class="visually-hide">
        <h1>Recent Articles</h1>
      </header>

      <div class="grid grid__four-column list__grid">
      
        {{ $paginator := .Paginate (where .Pages ".Params.type" "!=" "page") }}

        {{ range $index, $page := $paginator.Pages }}

          {{ if eq .Params.featured true }}

            <article class="list__article list__article--featured">
              <img src="{{ .Params.thumbnail }}" alt="Test" />
              <header>
                <h2 class="h3">
                  <a href="{{ .Permalink }}">
                    {{ .Title }}
                  </a>
                </h2>
                <time datetime="{{ .PublishDate.Format "2006-01-02" }}">
                  {{ .Params.fictionalDate }}
                </time>
              </header>
              <p>{{ .Params.description }}</p>
            </article>

          {{ else }}
          
            <article class="list__article">
              <header>
                <h2 class="h3">
                  <a href="{{ .Permalink }}">
                    {{ .Title }}
                  </a>
                </h2>
                <time datetime="{{ .PublishDate.Format "2006-01-02" }}">
                  {{ .Params.fictionalDate }}
                </time>
              </header>
              <p>{{ .Params.description }}</p>
            </article>

          {{ end }}

        {{ end }}

      </div>

      <!-- <div class="pagination pagination--numbers">
        <ul class="pagination__numbers">
          {{ range $paginator.Pagers }}
          <li>
            <a class="pagination__number{{ if eq . $paginator }} pagination__number--current{{ end }}" href="{{ .URL }}">
              {{ .PageNumber }}
            </a>
          </li>
          {{ end }}
        </ul>
      </div> -->
      
    </div>
  </section>
  
{{ end }}