.disabled {
  cursor: not-allowed;
  opacity: .75;
}

.padding {
  @include screen-above($laptop) {
    padding: 0 14px;
  }
}

.active {
  text-decoration: underline;
}

.inline-link {
  display: inline-block;

  &:not(:last-of-type) {
    margin-right: 30px;

    @include screen-below($mobile) {
      margin-right: 15px;
    }
  }
}

.gray-background {
  background-color: var(--gray);
}

.visually-hide {
  position: absolute;
  top: 0;
  left: -9999px;
  clip: rec(0, 0, 0, 0);
  pointer-events: none;
}