:root {
  --container: 1270px;
  --postContainer: 760px;
  --white: #fff;
  --black: #000;
  --red: #851514;
  --mediumRed: #6b1111;
  --darkRed: #430b0c;
  --gray: #f4f4f4;
  --mediumGray: #e5e5e5;
  --darkGray: #6b6b6b;
  --border: #e7e7e7;

  @include screen-below($laptop) {
    --container: 952px;
  }

  @include screen-below($laptop-sm) {
    --container: 840px;
  }
}

*,
*::after,
*::before {
  @include box-sizing(border-box);
}

::selection {
  color: var(--white);
  background: var(--red);
}

* {
  &:focus {
    border-color: var(--darkRed);
    outline: none;
    box-shadow: inset 0 1px 2px var(--darkRed), 0 0 0 .2em var(--darkRed);
  }
}

body {
  position: relative;
  font-size: 18px;
  font-weight: 200;
  color: var(--black);
  background-color: var(--gray);
}

img {
  max-width: 100%;
}

figure {
  margin: 40px 0;
}

figcaption {
  p {
    margin: 0;
    color: var(--darkGray);
    font-size: 1rem;
  }
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

a {
  color: var(--red);
  text-decoration: none;
  transition: color 300ms ease-in-out, outline 300ms ease-in-out;

  &:hover {
    color: var(--darkGray);
    outline: dotted 1px var(--darkGray);
  }

  &:active {
    color: var(--darkRed);
  }
}

hr {
  @include size(100%, 1px);
  display: block;
  padding: 0;
  margin: 2rem 0;
  border: 0;
  border-top: 1px solid var(--black);
}

header {
  h1 {
    margin-bottom: 50px;
  }
}