.disabled {
  cursor: not-allowed;
  opacity: .75;
}

.padding {
  @include screen-above($laptop) {
    padding: 0 14px;
  }
}

.inline-link {
  display: inline-block;
}

.gray-background {
  background-color: var(--gray);
}

.visually-hide {
  position: absolute;
  top: 0;
  left: -9999px;
  clip: rec(0, 0, 0, 0);
  pointer-events: none;
}

.red {
  color: var(--red);
}

.article-link {
  display: block;
}

.bottom-spacing {
  padding: 35px;
}

.page-spacing {
  padding: 32px 0 40px;
}

.unstyled-list {
  padding: 0;
  margin: 0;

  li {
    line-height: 1;
    list-style: none;
  }
}

.no-underline {
  text-decoration: none;
}

.tag {
  display: block;
  margin-bottom: 12px;
  color: var(--dark-gray);
  font-weight: 400;
}
