<header class="site-header">
  <div class="site-header__top">
    <div class="container container--wide">
      <div class="grid grid--two-column site-header__grid">

        <a class="site-header__site-logo" href="{{ .Site.BaseURL }}" aria-label="Home">
          {{ partial "svg/logo.html" }}
        </a>

        {{ if .Site.Menus.internal }}
          {{ partial "navigation/internal-navigation.html" . }}
        {{ end }}

      </div>

      {{ if .Site.Menus.main }}
        <nav class="navigation navigation--primary" aria-label="primary">
          {{ partial "navigation/main-navigation" . }}
        </nav>
      {{ end }}

    </div>
  </div>
</header>
