<form class="grid grid--two-column form" name="contact" action="/success/" netlify>
  <label for="name">
    <span class="visually-hide">
      Author Name
    </span>
    <input type="text" id="name" name="name" placeholder="Author Name" required />
  </label>
  <label for="email">
    <span class="visually-hide">
      Author Email
    </span>
    <input type="email" id="email" name="email" placeholder="Email" />
  </label>
  <label for="article-title">
    <span class="visually-hide">
      Article Title
    </span>
    <input type="text" id="article-title" name="article-title" placeholder="Article Title" required />
  </label>
  <label for="article-description">
    <span class="visually-hide">
      Article Description
    </span>
    <input type="text" id="article-description" name="article-description" placeholder="Article Description" required />
  </label>

  <label for="photo" class="form__photo">

    <span>Attach Photo</span>

    <input name="photo" id="photo" type="file" accept="image/*" />

  </label>

  <label class="form__message" for="article">
    <span class="visually-hide">
      Article Body
    </span>
    <textarea name="message" id="article" cols="30" rows="10" placeholder="Article Body..." required></textarea>
  </label>
  <button class="button" type="submit">Submit Article</button>
</form>
